@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TO KOALA LAND WHOOOOOOOOO</h1>
    <img src="./img/mộc lil.png" alt="Welcome Image" class="img-fluid" />
</div>
