@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Relaxing Koala Restaurant/Café</h1>

    <p>
        We're here, we're there, we're everywhere<br> 
       <a href="https://learn.microsoft.com/aspnet/core">Experience Greatness, all for you.</a>.
    </p>
</div>