@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>

    <p>Welcome to our menu!<br> 
       We have a bunch of stuff for u to choose, honestly idk what kinda food<br>
       a koala themed restaurant should serve...
    </p>
</div>