@{
	ViewData["Title"] = "Order";
}

<div class="text-center">
    <h1 class="display-4">Make Your Order</h1>

    <p>
        Here you will place an order, or finalize it<br>
        Once you finish your order, we will do the rest... probably.
    </p>
</div>