@{
    ViewData["Title"] = "Reservation";
}

<div class="text-center">
    <h1 class="display-4">Make Your Reservation</h1>

    <p>Please choose your date and time<br> 
       We will book a table for you if it is available...sweet cheeks.
    </p>
</div>