@model Order
@{
	ViewBag.Title = "Delete Order";
}

<div class="add-container">

	<h1 class="delete-text">Are you sure you want to Delete Order #@Model.OrderId?</h1>

	<form asp-action="Delete" method="post">
		<input type="hidden" name="orderId" asp-for="@Model.OrderId" />
		<button type="submit" class="btn delete-menu-btn">Delete Order</button>
	</form>
</div>
