@model Customer
@{
	ViewBag.Title = "Delete Customer";
}

<div class="add-container">

	<h1 class="delete-text">Are you sure you want to Delete Customer #@Model.Name</h1>

	<form asp-action="Delete" method="post">
		<input type="hidden" name="customerId" asp-for="@Model.CustomerId" />
		<button type="submit" class="btn delete-menu-btn">Delete Customer</button>
	</form>
</div>