@model Kitchen
@{
	ViewBag.Title = "Delete Kitchen";
}
<div class="delete-container">

	<h1 class="delete-text">Are you sure you want to Delete Kitchen Order @Model.KitchenId?</h1>

	<form asp-action="Delete" method="post">
		<input type="hidden" name="kitchenId" asp-for="@Model.KitchenId" />
		<button type="submit" class="btn delete-menu-btn">Delete Kitchen Order</button>
	</form>
</div>