@model MenuItem

<div class="menu-container">
	<h1 class="edit-menu-text">Add New Menu Item</h1>

	<form asp-action="AssignMenuItem" method="post">

		<div>
			<label asp-for="Name" class="menu-name-text">Menu Item Name</label>
			<input asp-for="Name" class="form-control" />
		</div>

		<label style="font-weight: bold; font-size: 1.5rem;">Menus</label>
		@foreach (var menu in ViewBag.Menus as List<Menu>)
		{
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="@menu.MenuId" name="assignedMenus" value="@menu.MenuId" />
				<label class="form-check-label" for="@menu.MenuId">@menu.Name</label>
			</div>
		}

		<div>
			<label asp-for="Description" class="menu-name-text">Description</label>
			<input asp-for="Description" class="form-control" />
		</div>

		<div>
			<label asp-for="Price" class="menu-name-text">Price</label>
			<input asp-for="Price" class="form-control" />
		</div>


		<input type="hidden" asp-for="MenuItemId" />

		<button type="submit" class="btn menu-add-btn">Add Menu Item</button>

	</form>

</div>
