@model MenuItem
@{
	ViewBag.Title = "Delete Menu Item";
}

<h1>Are you sure you want to Delete @Model.Name</h1>

<form asp-action="Delete" method="post">
	<input type="hidden" name="menuItemId" asp-for="@Model.MenuItemId" />
	<button type="submit" class="btn btn-danger">Delete Menu Item</button>
</form>