@model Menu
@{
	ViewBag.Title = "Delete Menu";
}
<div class="delete-container">
	<h1 class="delete-text">Are you sure you want to Delete @Model.Name?</h1>
	 
	<form asp-action="Delete" method="post">
		<input type="hidden" name="menuId" asp-for="@Model.MenuId" />
		<button type="submit" class="btn delete-menu-btn">Delete Menu</button>
	</form>
</div>