@model Statistics
@{
	ViewBag.Title = "Delete Statistics";
}
<div class="add-container">

	<h1 class="delete-text">Are you sure you want to delete this statistic?</h1>

	<form asp-action="Delete" method="post">
		<input type="hidden" name="statisticsId" asp-for="@Model.StatisticsId" />
		<button type="submit" class="btn delete-menu-btn">Delete Statistic</button>
	</form>
</div>