@model RestaurantTable
@{
	ViewBag.Title = "Delete Table";
}

<div class="add-container">

	<h1 class="delete-text">Are you sure you want to delete @Model.Name</h1>

	<form asp-action="Delete" method="post">
		<input type="hidden" name="restaurantTableId" asp-for="@Model.RestaurantTableId" />
	
		<button type="submit" class="btn delete-menu-btn">Delete Table</button>
	</form>
</div>