@model List<Reservation>

@{
    ViewBag.Title = "Reservation(s) Details";
}

<h1>Reservation(s) Details</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Reservation Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.CustomerId</td>
                <td>@reservation.ReservationTime</td>
            </tr>
        }
    </tbody>
</table>
