@model List<RestaurantTable>

@{
    ViewBag.Title = "Table(s) Details";
}

<h1>Table(s) Details</h1>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Restaurant Table ID</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var table in Model)
        {
            <tr>
                <td>@table.RestaurantTableId</td>
                <td>@table.Name</td>
            </tr>
        }
    </tbody>

</table>
