@model List<Customer>

@{
    ViewBag.Title = "Customers Details";
}

<div class="add-container">

    <h1 class="add-text">Customer Details</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Contact Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.Name</td>
                    <td>@customer.ContactInfo</td>
                </tr>
            }
        </tbody>
    </table>
</div>